<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Housemates App</title>
    <link rel="icon" type="image/ico" href="images/logo.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/dashboard.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/script_dashboard.js"></script>
  </head>
  <body>
    <div class="menu">
      <div id="settings">
        <a href="/settings"><img src="images/icon_settings.png" width="50px"></a>
      </div>
      <div id="logout"><a href="/logout">Logout</a></div>
      <div id="username">
        <%= user.first_name %>
      </div> <!-- username -->
      <div id="title">
        <a href="/dashboard">Homies</a>
      </div> <!-- title -->
    </div> <!-- menu -->

    <div class="wrapper">
      <div class="sidebar">
        <a href="/dashboard" class="tooltip" title="DASHBOARD"><img src="images/sidebar-icon_house.png" title=""></a>
        <a href="/chores" class="tooltip" title="CHORES"><img src="images/sidebar-icon_chores.png" title=""></a>
        <a href="/bills" class="tooltip" title="BILLS"><img src="images/sidebar-icon_bills.png" title=""></a>
        <a href="/calendar" class="tooltip" title="CALENDAR"><img src="images/sidebar-icon_cal.png" title=""></a>
        <a href="/grocery" class="tooltip" title="GROCERY"><img src="images/sidebar-icon_grocery.png" title=""></a>
        <a href="/chat" class="tooltip" title="CHAT"><img src="images/sidebar-icon_chat.png" title=""></a>
      </div> <!-- sidebar -->

      <div class="content-dash">
        <img src="<%= user.picture %>" width="50px"><div class="name_title">Hello, <%= user.first_name %></div>
        <i><%= user.email %></i>
        <!-- <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %> -->
        <table>
          <tr>
            <td><div class="dash-box" id="chores">
              <div id="dash-heading"><a href="/chores">CHORES</a></div>
              <br>
              <div id="my-chores">
                <i> There are currently no chores for you to do. Celebrate with some TV. </i>
              </div> <!-- my-chores -->
            </div></td>
            <td><div class="dash-box" id="bills">
              <div id="dash-heading"><a href="/bills">BILLS</a></div>
              <h4>Bills I have to pay:</h4>
              <div id="my-payments">
              </div>
              <h4>Bills I expect to receive:</h4>
              <div id="pay-to-me">
              </div>
            </div></td>
            <td><div class="dash-box" id="grocery">
              <div id="dash-heading"><a href="/grocery">GROCERIES</a></div>
              <br>
              <div id="grocery-not-bought">
                <!-- <i> There are currently no groceries for you to buy. Go eat something. </i> -->
              </div> <!-- grocery-not-bought -->
            </div></td>
          </tr>
        </table>

        

        <!-- <form class="form" method="get" action="/auth/google">
          <button type="submit" class="btn btn-primary">Click here to log into Google Calendar</button>
        </form> -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

      </div> <!-- content-dash -->
    </div> <!-- wrapper -->
  </body>
</html>
