<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Housemates App</title>
    <link rel="icon" type="image/ico" href="images/logo.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/dashboard.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/grocery_script.js"></script>
  </head>
  <body>
    <div class="menu">
      <div id="settings">
        <a href="/settings"><img src="images/icon_settings.png" width="50px"></a>
      </div>
      <div id="logout"><a href="/logout">Logout</a></div>
      <div id="username">
        <%= user.first_name %>
      </div> <!-- username -->
      <div id="title">
        <a href="/about">Homies</a>
      </div> <!-- title -->
    </div> <!-- menu -->

    <div class="wrapper">
      <div class="sidebar">
         <a href="/dashboard" class="tooltip" title="DASHBOARD"><img src="images/sidebar-icon_house.png" title=""></a>
        <a href="/chores" class="tooltip" title="CHORES"><img src="images/sidebar-icon_chores.png" title=""></a>
        <a href="/bills" class="tooltip" title="BILLS"><img src="images/sidebar-icon_bills.png" title=""></a>
        <a href="/grocery" class="tooltip" title="GROCERY"><img src="images/sidebar-icon_grocery.png" title=""></a>
        <a href="/calendar" class="tooltip" title="CALENDAR"><img src="images/sidebar-icon_cal.png" title=""></a>
        <a href="/chat" class="tooltip" title="CHAT"><img src="images/sidebar-icon_chat.png" title=""></a>
      </div> <!-- sidebar -->


      <div class="content-dash content-groceries">
        <h1> Groceries</h1>
        <br>
        <button id="grocery_add_pg" type="submit" class="btn btn-primary">Add Item to Shopping List</button>
        
        <div id="all-groceries"> 

        <div class="tabs">
          <ul class="tab-links">
            <li class="active"><a href="#tab1">Shopping List</a></li>
            <li><a href="#tab2">Purchased</a></li>
          </ul>

          <div class="tab-content">
            <div id= "tab1" class="tab">
              <div id="tab-heading">Shopping List</div>
              <div id="grocery-not-bought">
                <br><i>You currently have no groceries to buy.</i>
              </div>
            </div>
            <div id = "tab2" class"tab">
              <div id="tab-heading">Purchased</div>
                <div id="grocery-bought">
                  <br><i>You have no purchased grocery items.</i>
                </div>
            </div>
          </div> <!-- tab-content -->
        </div> <!-- tabs --> 
        </div><!-- all groceries-->
      </div> <!-- content dash-->

      <div class="popup_bkgd" id="grocery_add_bkgd">
        <div class="popup" id="grocery_add_popup">
          <div class="form_title">ADD A GROCERY ITEM</div>
          <div id="grocery_add_form">
            Item Name: <input id="name" type="text" placeholder="Item Name" required="required"/><br>
            Quantity: <input id="quantity" type="number" placeholder="" required="required"/><br>
            <input id="grocery-formb"  type="submit" value="Add Item"/>
          </div>
          <!-- </form> -->

          <div id="grocery_add_x"><img src="images/icon_x.png" width="20px"></div>
        </div> <!-- popup add -->

        <div class="popup" id="grocery_feedback_popup">
          <span></span>
          <br><br>
          <input id="grocery_feedback_close" type="submit" value="Close">
        </div> <!-- popup feedback -->
      </div> <!-- popup bkgd -->

      <div class="popup_bkgd" id="gbill_bkgd">
        <div class="popup" id="gbill_popup">
          <div class="form_title">ADD A GROCERY ITEM TO BILLS</div>
          <div id="gbill_add_form">
            Item Name: <input id="bill_name" name ="bill_name" type="text" placeholder="Bill Name"/><br>
            Total Amount of Bill: <input id="amount" name="amount" type="text" placeholder="Amount"/><br>
            Date Paid: <input id="date" name="date" type="date" placeholder="MM/DD/YYYY"><br>
            Paid By: <select id="user_name" name="user_name"> 
              <% for(var i=0; i<members.length; i++) {%>
               <option value="<%= members[i] %>"> <%= members[i] %> </option>
            <% } %><br>
            </select><br>
            Charge To: <br>
            <% for(var i=0; i<members.length; i++) {%>
             <input type="checkbox" value="<%= members[i] %>" name="payer" class="payer_class" checked><%= members[i] %> <br>
            <% } %><br>
            <input id="partial_amount" name="partial_amount" type="hidden" placeholder="Partial Amount"/><br>
            <input id="gbill-formb"  type="submit" value="Add Item to Bills"/>
          </div> <!-- </form> -->

          <div id="gbill_add_x"><img src="images/icon_x.png" width="20px"></div>
        </div> <!-- popup add -->

        <div class="popup" id="gbill_feedback_popup">
          <span></span>
          <br><br>
          <input id="gbill_feedback_close" type="submit" value="Close">
        </div> <!-- popup feedback -->
      </div> <!-- popup bkgd -->
    </div> <!-- wrapper -->
  </body>
</html>